.game-canvas {
    background-color: var(--dcol2);

    width: auto;
    height: 100%;

    display: block;

    position: relative;

    z-index: 1;
}

.inner-container {
    height: 100%;

    position: relative;
}

.game-assets {
    width: 0;
    height: 0;
    display: none;
}

.game-container:fullscreen .bottom-ui {
    background-color: transparent;
}

.game-container .bottom-ui {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 40px;

    position: absolute;
    bottom: 0;

    z-index: 2;
}

.game-container .bottom-ui > * {
    margin: 8px 4px 8px 4px;
}

.toggle-fullscreen-button {
    cursor: pointer;

    transition: all 0.05s ease;
}

.toggle-fullscreen-button:hover {
    filter: drop-shadow(0 0 2px #fff);
}

.game-container:fullscreen > .game-canvas {
    margin: 0;
}