.header {
    width: 100%;
    height: auto;

    background-color: var(--dcol3);
    z-index: 5;

    overflow-y: hidden;
    overflow-x: hidden;
}

.header.hide {height: 0}

.header > .home-btn {
    margin-left: 10px;

    font-family: 'd-din';
    font-weight: 1000;
    font-size: 32px;

    text-decoration: none;
    color: var(--text-light);

    margin-right: 20px;
    margin-top: -2px;
}

.header > .title {
    font-size: 20px;
    text-align: center;

    width: auto;
}

.header .nav-links {
    width: 100%;
    margin-top: 0.95%;
    margin-bottom: 0.1%;

    white-space: nowrap;
    overflow-x: scroll;
}

.header .nav-links.collapsing {
    transition: all 0.2s ease;
}

.header .nav-links.collapse.show {
    padding-right: 10px;
}

.header .nav-links a {
    text-transform: capitalize;

    text-decoration: none;
    color: var(--text-light);

    margin-left: 16px;
}

.header .nav-links a:hover,
.header .nav-links a:active {
    opacity: 50%;
    transform: translateY(-2px);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}