.content {
    min-height: var(--content-min-height);

    position: relative;
    top: 0;
    transition: top 0.2s ease-out;
}

:not(.header.hide) + .content {
    top: var(--header-height);
}

.header.hide + .content {
    min-height: 100vh;
}

.content .link {
    color: var(--text-light);
    opacity: 75%;

    transition: opacity 0.1s ease;
}

.content .link:hover,
.content .link:active {
    color: var(--text-light);
    opacity: 50%;
}