.content {
    min-height: var(--content-min-height);

    position: relative;
}

.content .link {
    color: var(--text-light);
    opacity: 75%;

    transition: opacity 0.1s ease;
}

.content .link:hover,
.content .link:active {
    color: var(--text-light);
    opacity: 50%;
}