.three-viewer {
    position: fixed;
    top: -10px;
    left: 0;

    width: 100vw;
    height: auto;

    z-index: -1;
}

.three-viewer canvas {
    width: 100vw !important;
    height: auto !important;
}

.about-title {
    text-shadow: 0 0 8px black;
}

.about-content {
    min-height: 100vh;
    text-shadow: 0 0 4px black;

    margin-bottom: calc(180vh + 100px);
    padding: 10px;
}